* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	/*background: url("http://ppcdn.500px.org/30507951/9262bab4e276d7f385363080e3032d93b5a66b4f/5.jpg") no-repeat center center;*/
	background: url("broderlund.jpg") no-repeat center center;
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

#splash {
	font-weight: 100;
	left: 50%;
	top: 50%;
	position: absolute;
	margin: -112px 0 0 -175px;
}

#splash big {
	font-size: 156px;
	line-height: 1em;
}

#splash small {
	display: block;
	font-size: 50px;
}

#links a svg {
	overflow: visible;
	height: 25px;
	-webkit-filter: drop-shadow( 0 0 30px #000 );
	        filter: drop-shadow( 0 0 30px #000 );
}

footer {
	color: #888;
	bottom: 10px;
	left: 10px;
	position: absolute;
	font-size: 10px;
}

footer a:hover {
	text-decoration: underline;
}
